<h1>Student List</h1>

<button><%= link_to "Add Student", new_student_path %></button>
<br><br>

<% @students.each do |student|%>
    <p><%= link_to full_name(student), student_path(student) %></p>
<% end %>


