<h1>Current Students</h1>

<%= button_to "Add Student", { action: "new"}, method: :get %>

<% @students.uniq.each do |student|%>
    <p><%= link_to student.name, student_path(student) %></p>
<% end %>

